@charset "UTF-8";
.container {
  margin-top: 0.15rem; }

.c-nav > li {
  float: left;
  cursor: pointer; }

.c-nav > li > span {
  font-family: '宋体';
  font-size: 24px;
  margin: 0 6px; }

.c-nav > li:first-child > div {
  float: left;
  text-align: center; }

.c-nav > li:first-child > div > img {
  width: 23px;
  margin-top: 8px; }

.c-nav > li > div > p {
  margin: 0;
  text-align: center; }

.c-nav > li > div > p:first-child {
  font-size: 14px; }

.c-nav > li > div > p:last-child {
  font-size: 9px; }

.title-one > img {
  margin: 0 auto;
  width: 250px;
  margin-bottom: 100px;
  margin-top: 40px; }

.section-one > div {
  margin-bottom: 50px; }
  .section-one > div div {
    width: 104px;
    height: 36px;
    border-radius: 6px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #393535;
    background: #e5e5e5;
    cursor: pointer; }
  .section-one > div h2 {
    margin-bottom: 20px;
    margin-top: 10px; }
  .section-one > div h4 {
    margin-bottom: 20px;
    font-size: 20px; }

.section-one > .bg-1 {
  height: 360px;
  background-image: url("../img/c-jiudian1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 17px;
  background-clip: padding-box; }

.section-one > .bg-2 {
  height: 360px;
  background-image: url("../img/c-jiudian2.PNG");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 17px;
  background-clip: padding-box; }

.section-two > div {
  margin-bottom: 50px; }
  .section-two > div h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px; }
  .section-two > div h4 {
    margin-bottom: 20px;
    font-size: 16px; }
  .section-two > div div {
    width: 104px;
    height: 36px;
    border-radius: 6px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #393535;
    background: #e5e5e5;
    cursor: pointer; }
  .section-two > div p {
    font-size: 12px; }

.section-two > div > img {
  width: 100%;
  margin-bottom: 20px; }

.little {
  text-align: center; }

.little > img {
  width: 60%; }

@media screen and (min-width: 768px) {
  .little {
    display: none; } }
